@font-face {
  font-family: 'Benzin-SemiBold';
  src: url('/assets/fonts/Benzin-Semibold.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Benzin-Bold';
  src: url('/assets/fonts/Benzin-Bold.woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Golos';
  src: url('/assets/fonts/GolosText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Golos-Medium';
  src: url('/assets/fonts/GolosText-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Golos-SemiBold';
  src: url('/assets/fonts/GolosText-SemiBold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}