* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body { height: 100vh }

input
{
  &:focus { outline: none }

  &:disabled {
    color: inherit;
    background-color: #FFF;
  }
}

button { &:hover { cursor: pointer }}
